body {
  font-family: "Sen", sans-serif;
  line-height: 1.5;
  background-color: #000000;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

@media screen and (max-width: 767px) {
  .no-scroll {
    overflow: hidden;
  }
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  font-size: 32px;
  line-height: 1.2;
  color: #ffffff;
}

.title-small {
  color: #8491a0;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.text {
  font-size: 18px;
  color: #8491a0;
}

.list-title {
  color: #ffffff;
  font-size: 24px;
}

.list-text {
  font-size: 16px;
  color: #8491a0;
}

.header {
  position: relative;
}

.header__container {
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-btn {
  position: absolute;
  top: 24px;
  right: 20px;
  padding: 0;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  border: none;
  cursor: pointer;
}
.menu-btn:hover .menu-btn__icon, .menu-btn:focus .menu-btn__icon {
  fill: #5221e6;
}

.menu-btn__icon {
  fill: #c4c4c4;
}

.soc-network {
  display: flex;
  margin-bottom: 48px;
}

.soc-network__item + .soc-network__item {
  margin-left: 16px;
}

.soc-network__link {
  display: flex;
  align-items: center;
  padding: 3px;
  border: 1px solid #181823;
  border-radius: 8px;
  transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-network__link:hover, .soc-network__link:focus {
  border-color: #5221e6;
  background-color: rgba(132, 145, 160, 0.3);
}

.site-nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px 30px;
  background-color: #181823;
}

.site-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-nav__link {
  height: 100%;
  display: block;
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 20px;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #5221e6;
}

.site-nav .soc-network {
  margin-bottom: 0;
}

.menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  fill: #ffffff;
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn:hover,
.menu-close-btn:focus {
  fill: #5221e6;
}

.site-nav__btn {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px;
  cursor: pointer;
  color: #ffffff;
  background-color: #5221e6;
  border: 3px solid #5221e6;
  border-radius: 4px;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__btn:hover, .site-nav__btn:focus {
  color: #5221e6;
  background-color: #ffffff;
}

.hero__container {
  padding: 0;
  color: #ffffff;
}

.hero__textwrap {
  padding: 48px 20px;
}

.hero__title {
  margin-bottom: 16px;
}

.hero__title--text {
  color: rgba(255, 255, 255, 0.5);
}

.hero__text {
  font-size: 18px;
}

.work__container {
  padding-top: 48px;
  padding-bottom: 48px;
}

.work__subtitle {
  margin-bottom: 51px;
}

.work-list__item:not(:last-child) {
  margin-bottom: 40px;
}

.work-list__number {
  font-size: 117px;
  line-height: 1.2;
  color: #8491a0;
}

.work-list__title {
  margin-bottom: 16px;
}

.work-list__span--first {
  color: #3cc74e;
}

.work-list__span--second {
  color: #609bff;
}

.work-list__span--third {
  color: #e95d90;
}

.about {
  background-color: #fff3e4;
}
.about__container {
  padding: 0;
}
.about__textwrap {
  padding: 48px 20px;
}
.about__title {
  color: #181823;
  margin-bottom: 24px;
}
.about__text {
  font-size: 18px;
  color: #5b6876;
  margin-bottom: 91px;
}
.about__link {
  position: relative;
  display: inline-block;
  color: #181823;
  font-size: 16px;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about__link:hover, .about__link:focus {
  color: #5221e6;
}
.about__link::after {
  position: absolute;
  left: 0;
  bottom: -3px;
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #8491a0;
}

.skills__container {
  padding: 64px 20px;
}

.skills__title {
  margin-bottom: 16px;
}

.skills__text {
  margin-bottom: 70px;
}

.skills-list__item + .skills-list__item {
  margin-top: 48px;
}

.skills-list__title {
  margin-bottom: 12px;
}

.skills-list__icon {
  margin-bottom: 24px;
}

.client__container {
  padding: 0;
}

.client__list {
  display: flex;
  flex-wrap: wrap;
}

.client__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  height: 140px;
  border: 1px solid #181823;
}

.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.client__link:hover .client__icon, .client__link:focus .client__icon {
  fill: #5221e6;
}

.client__icon {
  fill: #8491a0;
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__container {
  padding-top: 65px;
  padding-bottom: 65px;
}

.projects__subtitle {
  margin-bottom: 80px;
}

.projects-list__item {
  background-color: #181823;
}
.projects-list__item + .projects-list__item {
  margin-top: 48px;
}

.projects-list__wrap {
  padding: 40px 32px;
}

.projects-list__title {
  margin-bottom: 13px;
}

.container-instagram {
  padding: 0;
}

.network-item__wrap {
  padding: 48px 20px;
  background-color: #fbe4ff;
}

.network-item__title {
  color: #181823;
  margin-bottom: 16px;
}

.network-item__text.first-text {
  color: #5b6876;
  margin-bottom: 125px;
}
.network-item__text.second-text {
  margin-bottom: 40px;
}

.first-link,
.second-link {
  position: relative;
  display: inline-block;
  font-size: 16px;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.first-link::after,
.second-link::after {
  position: absolute;
  left: 0;
  bottom: -3px;
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #8491a0;
}
.first-link:hover, .first-link:focus,
.second-link:hover,
.second-link:focus {
  color: #5221e6;
}

.first-link {
  color: #181823;
}

.second-link {
  margin-bottom: 64px;
  color: #ffffff;
}

.item-second {
  padding-top: 64px;
  padding-bottom: 64px;
}

.network-item__heading {
  font-size: 55px;
  margin-bottom: 24px;
}

.network-item__img {
  border-radius: 8px;
  overflow: hidden;
}

.slider {
  border-radius: 0px 0px 15px 15px;
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slider .slider__item {
  text-align: center;
}
.slider .slider__item img {
  width: 200px;
}

.slick-track {
  display: flex;
}

.dots .slick-dots {
  display: flex;
  align-items: center;
  background-color: #181823;
  padding: 12px 16px;
  margin-bottom: 0;
  border-radius: 15px 15px 0px 0px;
}

.slick-dots li {
  list-style: none;
  display: flex;
  align-items: center;
}

.slick-dots li:not(:last-child) {
  margin-right: 6px;
}

.slick-dots li.slick-active button {
  background-color: #5221e6;
}

.slick-dots li button {
  padding: 0;
  font-size: 0;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #5b6876;
  border: none;
}

.blogs .container {
  padding-top: 48px;
  padding-bottom: 64px;
}

.blogs__title {
  margin-bottom: 16px;
}

.blogs__text {
  margin-bottom: 40px;
}

.blogs__link {
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: #ffffff;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.blogs__link::after {
  position: absolute;
  left: 0;
  bottom: -3px;
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #8491a0;
}
.blogs__link:hover, .blogs__link:focus {
  color: #5221e6;
}

.blogs__container {
  max-width: 360px;
  padding: 0 15px 48px;
  margin-right: auto;
  margin-left: auto;
}

.blog-list__item:not(:last-child) {
  margin-bottom: 48px;
}

.blog-list__text {
  border: 1px solid #5b6876;
  padding: 34px;
}

.blog-list__title {
  font-weight: 700;
  margin-bottom: 64px;
}

.blog-list__toptext {
  font-weight: 700;
  margin-bottom: 4px;
}

.photography .container {
  padding-top: 48px;
  padding-bottom: 48px;
}

.photography__title {
  margin-bottom: 24px;
}

.photography__text {
  margin-bottom: 40px;
}

.photo-filter {
  display: flex;
  flex-wrap: wrap;
  margin: -12px;
}

.photo-filter__item {
  flex-basis: calc((100% - 48px) / 2);
  margin: 12px;
}

.photo-filter__btn {
  display: block;
  padding: 12px 0;
  width: 148px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #5221e6;
  border-radius: 4px;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.photo-filter__btn:hover, .photo-filter__btn:focus {
  background-color: #5221e6;
}

.photo-btn {
  margin-bottom: 40px;
}

.photo-list__item + .photo-list__item {
  margin-top: 24px;
}

.registration .container {
  padding-top: 48px;
  padding-bottom: 48px;
}

.registration__title {
  margin-bottom: 16px;
}

.registration__text {
  margin-bottom: 48px;
}

.reg-form__wrap {
  margin-bottom: 40px;
}

.reg-form__label {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  color: #ffffff;
}

.reg-form__input,
.reg-form__message {
  width: 100%;
  background-color: #181823;
  border: transparent;
  color: #8491a0;
  font-size: 16px;
}

.reg-form__input {
  height: 50px;
  cursor: pointer;
  border-radius: 4px;
  transition: border 300ms cubic-bezier(0.4, 0, 0.2, 1), outline 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.reg-form__input:hover, .reg-form__input:focus {
  border: 1px solid #5221e6;
  outline: none;
}

.reg-form__message {
  height: 100px;
  resize: none;
  border-radius: 4px;
  margin-bottom: -6px;
  cursor: pointer;
  transition: border 300ms cubic-bezier(0.4, 0, 0.2, 1), outline 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.reg-form__message:hover, .reg-form__message:focus {
  border: 1px solid #5221e6;
  outline: none;
}

.reg-form__btn {
  background-color: #5221e6;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #ffffff;
  border: 3px solid #5221e6;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.reg-form__btn:hover, .reg-form__btn:focus {
  border: 3px solid #5221e6;
  background-color: #ffffff;
  color: #5221e6;
}

.footer {
  background-color: #181823;
}

.footer .container {
  padding-top: 48px;
  padding-bottom: 48px;
}

.logo-footer {
  display: block;
  margin-bottom: 32px;
}

.footer-nav {
  margin-bottom: 47px;
}

.footer-nav__link {
  display: flex;
  align-items: center;
  height: 48px;
  font-size: 16px;
  color: #ffffff;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-nav__link:hover, .footer-nav__link:focus {
  color: #5221e6;
}/*# sourceMappingURL=main.css.map */