body {
  font-family: 'Sen', sans-serif;
  line-height: 1.5;
  background-color: $main_bg_color;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

@media screen and (max-width: 767px) {
  .no-scroll {
    overflow: hidden;
  }
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    padding-left: 40px;
    padding-right: 40px;
    max-width: 768px;
  }
}

.title {
  font-size: 32px;
  line-height: 1.2;
  color: $main-subtitle-color;

  @media screen and (min-width: 768px) {
    font-size: 55px;
  }
}

.title-small {
  color: $main-title-color;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.text {
  font-size: 18px;
  color: $main-text-color;
}

.list-title {
  color: $main-subtitle-color;
  font-size: 24px;
}

.list-text {
  font-size: 16px;
  color: $main-text-color;
}
