.client__container {
  padding: 0;
}

.client__list {
  display: flex;
  flex-wrap: wrap;
}

.client__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc(100% / 2);
  height: 140px;
  border: 1px solid #181823;
}
