.header {
  position: relative;

  @media screen and (min-width: 1440px) {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

.header__container {
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;

  @media screen and (min-width: 768px) {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 88px;
  }
}

.header__menu {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

.menu-btn {
  position: absolute;
  top: 24px;
  right: 20px;
  padding: 0;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main_bg_color;
  border: none;
  cursor: pointer;

  &:hover .menu-btn__icon,
  &:focus .menu-btn__icon {
    fill: $accent-color;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-btn__icon {
  fill: #c4c4c4;
}
