.hero__container {
  position: relative;
  padding: 0;
  color: $hero-text-color;
}

.hero__textwrap {
  padding: 48px 20px;

  @media screen and (min-width: 768px) {
    position: absolute;
    padding: 0 40px 0 0;
    top: 87px;
    left: 320px;
  }

  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.hero__title {
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.hero__title--text {
  color: rgba(255, 255, 255, 0.5);
}

.hero__title span {
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.hero__text {
  font-size: 18px;
}

.hero__title--desktop {
  font-size: 76px;
  line-height: 1.2;
  text-align: center;
  color: $main-subtitle-color;

  @media screen and (max-width: 1439px) {
    display: none;
  }

  @media screen and (min-width: 1440px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
