.site-nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px 30px;
  background-color: $list-bg-color;
}

.site-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-nav__link {
  height: 100%;
  display: block;
  font-size: 24px;
  color: $hero-text-color;
  margin-bottom: 20px;
  transition: color 300ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.site-nav .soc-network {
  margin-bottom: 0;
}

.menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  fill: $hero-text-color;
  transition: fill 300ms $timing-function;
}
.menu-close-btn:hover,
.menu-close-btn:focus {
  fill: $accent-color;
}

.site-nav__btn {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px;
  cursor: pointer;
  color: $hero-text-color;
  background-color: $accent-color;
  border: 3px solid $accent-color;
  border-radius: 4px;
  transition: color 300ms $timing-function,
    background-color 300ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: $hero-text-color;
  }
}
