.slider {
  border-radius: 0px 0px 15px 15px;
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slider .slider__item {
  text-align: center;

  & img {
    width: 200px;
  }
}

.slick-track {
  display: flex;
}

.dots .slick-dots {
  display: flex;
  align-items: center;
  background-color: #181823;
  padding: 12px 16px;
  margin-bottom: 0;
  border-radius: 15px 15px 0px 0px;
}

.slick-dots li {
  list-style: none;
  display: flex;
  align-items: center;
}

.slick-dots li:not(:last-child) {
  margin-right: 6px;
}

.slick-dots li.slick-active button {
  background-color: #5221e6;
}

.slick-dots li button {
  padding: 0;
  font-size: 0;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #5b6876;
  border: none;
}
