.work__container {
  padding-top: 48px;
  padding-bottom: 48px;

  @media screen and (min-width: 768px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.work__subtitle {
  margin-bottom: 51px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.work-list {
  @media screen and (min-width: 768px) {
    display: flex;
    margin: -12px;
  }
}

.work-list__item {
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 3 * 24px) / 3);
    margin: 12px;
    padding-right: 15px;
  }
}

.work-list__item:not(:last-child) {
  margin-bottom: 40px;
}

.work-list__number {
  font-size: 117px;
  line-height: 1.2;
  color: $main-text-color;
}

.work-list__title {
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
  }
}

.work-list__span--first {
  color: #3cc74e;
}

.work-list__span--second {
  color: #609bff;
}

.work-list__span--third {
  color: #e95d90;
}
