.work__container {
  padding-top: 48px;
  padding-bottom: 48px;
}

.work__subtitle {
  margin-bottom: 51px;
}

.work-list__item:not(:last-child) {
  margin-bottom: 40px;
}

.work-list__number {
  font-size: 117px;
  line-height: 1.2;
  color: $main-text-color;
}

.work-list__title {
  margin-bottom: 16px;
}

.work-list__span--first {
  color: #3cc74e;
}

.work-list__span--second {
  color: #609bff;
}

.work-list__span--third {
  color: #e95d90;
}
