$hero-text-color: #ffffff;
$main-title-color: #8491a0;
$main-text-color: #8491a0;
$main-subtitle-color: #ffffff;
$second-title-color: #181823;
$second-text-color: #5b6876;
$accent-color: #5221e6;
$main_bg_color: #000000;
$list-bg-color: #181823;
